 body {
     font-family: Arial, sans-serif;
     background-color: #f7f9fc;
     margin: 0;
     padding: 20px;
 }

 h2,
 h3 {
     color: #333;
 }

 form {
     background-color: #ffffff;
     border-radius: 10px;
     padding: 20px;
     box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
     margin-bottom: 30px;
 }

 label {
     font-size: 14px;
     color: #555;
 }

 input[type="text"],
 input[type="number"],
 select {
     width: 100%;
     padding: 10px;
     margin: 8px 0 20px;
     border: 1px solid #ccc;
     border-radius: 5px;
     font-size: 14px;
     box-sizing: border-box;
 }

 button {
     background-color: #1d72b8;
     color: white;
     padding: 10px 20px;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     font-size: 14px;
 }

 button:hover {
     background-color: #155a8a;
 }

 table {
     width: 100%;
     border-collapse: collapse;
     margin-bottom: 20px;
     background-color: #ffffff;
     border-radius: 10px;
     box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
 }

 th,
 td {
     padding: 12px;
     text-align: center;
     border-bottom: 1px solid #ddd;
     color: #333;
 }

 th {
     background-color: #1d72b8;
     color: white;
 }

 tr:hover {
     background-color: #f1f1f1;
 }

 input[type="checkbox"] {
     transform: scale(1.3);
 }

 .asignado {
     background-color: #cce5ff;
 }

 td.asignado:hover {
     background-color: #aacbff;
 }

 .container {
     max-width: 1200px;
     margin: auto;
 }

 @media (max-width: 768px) {
     table {
         font-size: 12px;
     }

     button {
         width: 100%;
         margin-top: 10px;
     }

    .horas-semanales-group .form-control {
  margin-top: 8px; /* Ajusta este valor (prueba 3px, 5px) hasta que se vea alineado */
}
 }